* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  width: 100vw;
  height: 100vh;
  height: 100dvh; 
  overflow: hidden;
  font-family: 'Arial Black', 'Helvetica Neue', Arial, sans-serif;
}

.loader {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-number {
  position: relative; 
  
  height: 1.2em; 
  display: flex;
  align-items: center;
  justify-content: center;

  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";

  font-size: clamp(4.5rem, 13vw, 15rem);
  font-weight: 900;
  color: #fff;
  
  line-height: normal; 

  transform: translate(-15vw, 10vh) scale(0.65);
  
  transform-origin: center center;
  will-change: transform, opacity, font-size;
  transition:
    transform 3s cubic-bezier(0.4, 0, 0.2, 1),
    font-size 3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.6s ease;
}

.loader-number.move-center {
  transform: translate(0, 0) scale(1);
  font-size: clamp(6rem, 18vw, 20rem);
}

.fade-out {
  opacity: 0;
  transform: translate(0, 0) scale(1.15);
}